html,
body {
    height: 100%
}

body {
    background-color: rgb(6, 8, 32);
    background-image: url(assets/bg.jpg);
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: -ms-grid;
    display: grid;
    margin: 0px;
}

center {
    margin: auto;
}

img.logo {
    height: 15vh;
}

a {
    color: white;
    text-align: center;
    font-size: 1.3vh;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px #000000;
}

p.check {
    color: rgb(180, 180, 180);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1vh;
    text-shadow: 2px 2px #000000;
}

p.nonot {
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4vh;
    text-align: justify;
    max-width: 400px;
    text-shadow: 2px 2px #000000;
}

b {
    color: white;
}

img.loimg {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 18px;
}

center.darken {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    -webkit-box-shadow: 0px 0px 25px;
    -moz-box-shadow: 0px 0px 25px;
    box-shadow: 0px 0px 25px;
}

#tv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}